.field small {
  color: var(--pico-del-color);
}

.field:has(small:not(:empty)) input {
  border-color: var(--pico-del-color); 
  background-image: var(--pico-icon-invalid);
}

input.htmx-request {
  background-image: var(--pico-icon-loading) !important;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--pico-icon-loading);
  background-size: 1em auto;
  content: "";
  vertical-align: -.125em;
}

tr.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

tr a {
  display: block;
}
