{% extends 'layout.html' %}

{% block content %}
  <form action="/contacts" method="get">
    <fieldset role="group">
      <input id="search" type="search" name="q" placeholder="Search Term" value="{{ request.args.get('q') or '' }}" />
      <input type="submit" value="Search"/>
    </fieldset>
  </form>

  <table>
    <thead>
    <tr>
      <th>First <th>Last <th>Phone <th>Email <th/>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
      <tr>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <a href="/contacts/{{ contact.id }}/edit">Edit</a>
          <a href="/contacts/{{ contact.id }}">View</a>
        </td> 
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="/contacts/new">Add Contact</a>
  </p>
{% endblock %}
