{% extends 'layout.html' %}

{% block content %}
  <form action="/contacts" method="get">
    <fieldset role="group">
      <input id="search" type="search" name="q" placeholder="Search Term" 
        value="{{ request.args.get('q') or '' }}" 
        hx-get="/contacts" hx-target="tbody" hx-push-url="true"
        hx-trigger="input[target.value === ''], keyup delay:200ms changed">
      <input type="submit" value="Search"/>
    </fieldset>
  </form>

  <table>
    <thead>
    <tr>
      <th>First <th>Last <th>Phone <th>Email <th/>
    </tr>
    </thead>
    <tbody>
      {% include 'rows.html' %}
      {% if contacts|length == 10 %} 
        <tr>
          <td colspan="5" style="text-align: center">
            <span hx-target="closest tr" 
              hx-trigger="revealed"
              hx-swap="outerHTML" 
              hx-select="tbody > tr" 
              hx-get="/contacts?page={{ page + 1 }}">
              Loading More...
            </span>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div>
    <span style="float: right">
      {% if page > 1 %}
        <a href="/contacts?page={{ page - 1 }}">Previous</a> 
      {% endif %}
      {% if contacts|length == 10 %}
        <a href="/contacts?page={{ page + 1 }}">Next</a> 
      {% endif %}
    </span>
  </div>

  <p>
    <a href="/contacts/new" role="button">Add Contact</a>
  </p>
{% endblock %}
