{% extends 'layout.html' %}

{% block content %}
  <form action="/contacts" method="get">
    <fieldset role="group">
      <input id="search" type="search" name="q" placeholder="Search Term" 
        value="{{ request.args.get('q') or '' }}" 
        hx-get="/contacts" hx-target="tbody" hx-push-url="true"
        hx-trigger="input[target.value === ''], keyup delay:200ms changed">
      <input type="submit" value="Search"/>
    </fieldset>
  </form>

  <form>
    <table>
      <thead>
        <tr>
          <th> <th>First <th>Last <th>Email <th/>
        </tr>
      </thead>
      <tbody>
        {% include 'rows.html' %}
      </tbody>
    </table>
    <button
      hx-delete="/contacts"
      hx-confirm="Are you sure you want to delete these contacts?"
      hx-target="body" hx-vals='{"page": "{{ page }}"}'
      hx-swap="transition:true">
      Delete Selected Contacts
    </button>
  </form>

  <hr />

  <div>
    <span style="float: right">
      {% if page > 1 %}
        <a href="/contacts?page={{ page - 1 }}" role="button" class="secondary">
          Previous
        </a> 
      {% endif %}
      {% if contacts|length == 10 %}
        <a href="/contacts?page={{ page + 1 }}" role="button" class="secondary">
          Next
        </a> 
      {% endif %}
    </span>

    <p>
      <a href="/contacts/new" role="button">Add Contact</a>
      <span hx-get="/contacts/count" hx-trigger="revealed">
        <span class="spinner"></span>
      </span>
    </p>
  </div>
{% endblock %}
